<!DOCTYPE html>
<html>

  <head>
    <link rel="icon" href="https://circuitverse.org/assets/favicon-883466d663265ece7d1bee2ee72b99faee70ef83d3459d1cd2e8c549463a5416.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="Inter.ttf">
    <title>CircuitVerse Embed Chrome Extension</title>
  </head>

  <body>
    <div id="Congratulations" class="header">
      <div class="header-content">
        <h1> Congratulations! </h1>
        <h4>Congratulations! You have succesfully installed the Circuit Verse Embed Extension! This extension let's you embed circuits in presentations and Google Slides. Make sure to install Google Slides Add-On as well. For Further Instructions, please read the following Documentation</h4>
      </div>
    </div>

    <div class="content">
      <div id="plugin-installation">
        <h2><a href="#plugin-installation" class="heading">Plugin Installation</a></h2>
        <h4>Install Google Slides Add on from <a href="https://github.com/CircuitVerse/CircuitVerse-Presentation-Embed#installation-google-docs-add---on" target="_blank">here</a></h4>
      </div>

      <div id="usage-instructions">
        <h2><a href="#usage-instructions" class="heading">Usage Intructions</a></h2>
      </div>

      <div id="step-1-open-circuitverse-menu-side-bar">
        <h2><a href="#step-1-open-circuitverse-menu-side-bar" class="heading">Step 1: Open CircuitVerse Menu Side Bar</a></h2>
        <h4>If the menu option is not available then the Google Slides Add On is not installed correctly.</h4>
        <img class="pic" src="https://docs.circuitverse.org/images/embed_presentations/circuitverse_menu.png" alt="Circuitverse Menu">
      </div>

      <div id="step-2-insert-a-circuit">
        <h2><a href="#step-2-insert-a-circuit" class="heading">Step 2: Insert a Circuit</a></h2>
        <ol>
          <li>Find the circuit you want to embed</li>
          <li>Ensure the circuit is public</li>
          <li>Enter the URL and click embed</li>
        </ol>
        <img class="pic" src="https://docs.circuitverse.org/images/embed_presentations/circuitverse_menu.png" alt="Circuitverse SideBar">
        <h4>Note: Any Circuit page will work</h4>
      </div>

      <div id="step-3-position-the-circuit-image-as-per-your-requirements">
        <h2><a href="#step-3-position-the-circuit-image-as-per-your-requirements" class="heading">Step 3: Position the circuit image as per your requirements</a></h2>
        <h4>The inserted circuit is an image with a hyperlink. This image can be resized, moved or duplicated just like a regular image. Care needs to be taken that the hyperlink is not removed.</h4>
        <img class="pic" src="https://docs.circuitverse.org/images/embed_presentations/circuitverse_slide.png" alt="Circuitverse Slide">
      </div>

      <div id="step-4-launch-presentation-mode">
        <h2><a href="#step-4-launch-presentation-mode" class="heading">Step 4: Launch presentation mode</a></h2>
        <h4>Goto presentation mode. The live circuits are loaded automatically.</h4>
        <img class="pic" src="https://docs.circuitverse.org/images/embed_presentations/circuitverse_slide_live.png" alt="Circuitverse Live Slide">
      </div>
    </div>
  </body>

</html>
