<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="Inter.ttf">
	<link rel="icon" href="https://avatars1.githubusercontent.com/u/42944450?s=200&v=4">
	<title>CircuitVerse</title>
</head>
<body>
	<div class="whitespace"></div>
  	<ul>
	    <a href="https://circuitverse.org/"><img src="https://circuitverse.org/assets/CircuitVerse-594a52dae58e972c345306a3177e96ebb62ff935302b6364a83ebd8a017ab16d.svg" alt="CircuitVerse-banner"; width="184px" style="padding-top: 10px; padding-left: 10px"></a>
	    <li><a href="#Instructions"; style="padding-right: 50px;">Instructions</a></li>
	    <li><a href="#Home" class="active">Home</a></li>
  	</ul>
  	<div id="Home"></div>
	 <h1 style="padding-top: 150px; padding-left: 75px">CircuitVerse Presentation <br> Embed Extension</h1>
	 <h3 style="padding-top: 10px; padding-left: 75px"> An extension that allows the user to <br> embed CircuitVerse circuit’s <br> in a Google Slide. </h3>
  	<div id="Instructions"></div>
  	<h1 style="padding-top: 250px; padding-left: 75px">Instructions</h1>
  	<h3 style="padding-top: 10px; padding-left: 75px;">[W.I.P], will update as the extension's work progresses</h3>
<body>
</html>