<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>CircuitVerse</title>
</head>
<body>
   <ul>
     <img src="https://circuitverse.org/assets/CircuitVerse-594a52dae58e972c345306a3177e96ebb62ff935302b6364a83ebd8a017ab16d.svg" alt="CircuitVerse-banner"; width="250px">
     <li><a href="default.asp"; padding-right:50px>Contact</a></li>
     <li><a href="default.asp">CircuitVerse</a></li>
     <li><a href="news.asp">Instructions</a></li>
     <li><a href="contact.asp">About</a></li>
     <li><a href="about.asp">Home</a></li>
  </ul>
<body>
</html>