<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="Inter.ttf">
	<link rel="icon" href="https://avatars1.githubusercontent.com/u/42944450?s=200&v=4">
	<title>CircuitVerse</title>
</head>
<body>
  	<ul id="NavBar">
	    <a href="https://circuitverse.org/"><img src="https://circuitverse.org/assets/CircuitVerse-594a52dae58e972c345306a3177e96ebb62ff935302b6364a83ebd8a017ab16d.svg" alt="CircuitVerse-banner"; width="184px" style="padding-top: 10px; padding-left: 10px"></a>
	    <li><a href="#Instructions"; style="padding-right: 50px;">Instructions</a></li>
	    <li><a style="padding-left:30px;" href="#Plugin">Plugin</a></li>
	    <li><a href="#Home" class="active">Home</a></li>
  	</ul>
  	<div id="Home">
		<h1 style="padding-top: 150px;">
			CircuitVerse Presentation <br> Embed Extension
		</h1>
		<br>
		<h3 style="padding-top: 10px;">
			 An extension that allows the user to embed an interactive <br> CircuitVerse circuit in Google Slides with a <br> combination of Google Slides Plugin <br> and a Chrome Extension
		</h3>
	 </div>
	
	<div id="Plugin">
		<h1 style="padding-top: 150px;">
			Plugin Installation
		</h1>
		<br>
		<h3 style="padding-top: 10px;">
			 Refer to "Plugin Installation" on the README of CircuitVerse-Presentation-Embed : <a href="https://github.com/CircuitVerse/CircuitVerse-Presentation-Embed/blob/main/README.md">README</a>
		</h3>
	</div>

  	<div id="Instructions">
	  	<h1 style="padding-top: 250px;">
	  		Instructions
	  	</h1>
	  	<h3 style="padding-top: 10px; padding-bottom: 100px;">
	  		After installing the plugin (instructions above) to use it : <br>
	  		Click "Embed Circuit" sub-menu on the "CircuitVerse" menu <br>
	  		Enter the circuit's url and click "Embed!" <br>
	  		Now when in presentation mode, users will be able to interact with the image embedded to the presention
	  	</h3>
  	</div>
<body>
</html>