<!doctype html>
<style type="text/css">
	#mainPopup {
		padding: 10px;
		height: 150px;
		width: 300px;
		font-family: Helvetica, Ubuntu, Arial, sans-serif;
	}
	h1 {
		font-size: 2em;
	}
	p {
		font-size: 1.3em;
	}
</style>

<div id="mainPopup">
<h1>CircuitVerse Live Circuit!</h1>
<p>
	This extension will now load live circuits in Google Slides. For more details, read the user documentation <a href="https://docs.circuitverse.org/#/chapter2/2cvforeducators?id=embed-circuitverse-simulation-in-google-slides" target="_blank">here</a>.
</p>
</div>