@font-face {
    font-family: 'Inter';
    src: url('Inter.ttf');
    font:inherit;
}

html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	  font-size: 100%;
    font:inherit;
    font-family: Inter;
    scroll-behavior: smooth;
    color: #212529;
} 

#NavBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  top: 20;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  top: 0px;
  padding-top: 9px;
}


li {
  float: right;
  padding-top: 15px;
  padding-right: 5px;
}

li a {
  display: block;
  color: #212529;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #42B983;
}

.active {
  background-color: #FFFFFF;
  outline-color:#42B983;
  outline-style: solid;
  transition: color 0.4s, background-color 0.4s;
}

.active:hover {
	background-color: #42B983;
	color: #FFFFFF;
}

#Home {
  line-height: 2;
  padding-left: 75px;
}

#Plugin {
  line-height: 2;
  padding-left: 75px;
}

#Instructions {
  line-height: 2;
  padding-left: 75px;
}

a:link {
  text-decoration: none;
}